/* Стили для контейнера таймера */
body {
    background: rgb(250, 150, 1);
}
#timer-container {
    margin-top: 300px;
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  /* Стили для текста таймера */
  #timer {
    font-size: 100px;
    font-weight: bold;
    color: #333;
  } 
